@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

:root
{
    --primary-color:#4c50d3;
    --secondary-color:#ffce00;
    --font-color: #1e1e1e;
    --white-color: #fff;
    --grey-color: #e7e7e7;
    --dark-grey-color: #5f5f5f;
    --soft-purple: #e7e8ff;
    --soft-blue-color:#c3e1ff;
    --soft-yellow: #fff5cc;
    --soft-red: #ffcbc8;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}


body
{
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar
{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    left: 0;
}

.logo
{
    letter-spacing: 2;
}

.menus
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menus a 
{
    display: flex;
    align-items: center;
    color: var(--white-color);
    text-decoration: none;
}

.menus ion-icons
{
    margin-right: 0.5rem;
}

.menus a:hover
{
    color: var(--secondary-color);
}

.profile
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--white-color);
    color: var(--font-color);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.profile:hover
{
    background-color: var(--secondary-color);
}


.profile-img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name p
{
    font-size: 12px;
}



.main
{
    width: clac(100% - 15% - 25%);
    min-height: 100%;
    min-width: 800px; /*source : 300px*/
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 15%;
    background-color: var(--soft-purple);
    z-index: 1;
}


.main-header
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-bar
{
    background-color: var(--white-color);
    padding: 0.5rem;
    border-radius: 20px;
    display: none;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border:none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--white-color);
}

.search input 
{
    width: 90%;
    border:none;
}


.btn-search
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.btn-search:hover
{
    background-color: var(--secondary-color);
    color: var(--font-color);
}


.filter-wrapper
{
    margin: 1rem 0;
    font-size: 14px;
}

.filter
{
    display: flex;
    gap: 1rem;
    overflow: auto;
    margin: 0.5rem 0;
}

.btn-filter
{
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--white-color);
}
.btn-filter:hover
{
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.24);
}


.sort{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.sort p{
    font-size: 14px;
}

.sort-list select{
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 0.5rem;
}

.wrapper
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
}

.card
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: var(--white-color);
    line-height: 1.5;
    gap: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.card-left
{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.card-left img
{
    width: 100%;
    height: auto;
    min-width: 60px;
    padding: 1rem;
    background-color: var(--grey-color);
}



.card-center{
    width: 50%;
}

.card-loc, .card-sub{
    font-size: 13px;
    color: var(--dark-grey-color);
}

.card-sub{
    display: flex;
    flex-wrap: wrap;
}

.card-sub p{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}


.card-right{
    width: 15%;
}

.card-tag a{
    color: var(--font-color);
    font-size: 13px;
}

.card-salary
{
    padding: 0.5rem 0;
    color: var(--primary-color);
}

.card-salary span
{
    color: var(--font-color);
    font-size: 13px;
}

.blue-bg
{
    background-color: var(--soft-blue-color);
}


.yellow-bg
{
    background-color: var(--secondary-color);
}

.red-bg
{
    background-color: red;
}

.purple-bg
{
    background-color: var(--soft-purple);
}


/****** Job Details ******/
.detail{
    width: 17%;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: 0;
    background-color: var(--white-color);
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Show close button in mobile view*/
.close-detail{
    display: none;
}

.detail-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-header img 
{
    width: 50px;
    height: 50px;
}


.divider
{
    width: 100%;
    height: 1px;
    background-color: var(--grey-color);
    border: none;
    margin: 1rem 0;
}


.detail-desc{
    line-height: 1.5;
}

.about a
{
    margin: 0.5rem 0 0 0;
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}


.apply-now-div
{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.btn-apply
{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-apply:hover{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}


.btn-save
{
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-save:hover
{
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}


/********   Show menu when click menu ***********/
.sidebar.active{
    display: flex;
    width: 220px;
    z-index: 100;
}

/**** Responsiveness ****/

/*****  Max-Screen : 880px *****/
@media screen and (max-width: 880px)
{
    .menu-bar{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: calc(100% -40%);
        margin-left: 40%;
    }
}

/***** Smaller Screen ********/
@media screen and (max-width: 700px)
{
    .main{
        width: 100%;
    }
    .detail{
        display: none;
    }
    .detail.active{
        display: block;
        width: 100%;
        z-index: 100;
    }
}


/***** Add close button ******/
.detail.active .close-detail
{
    display: block;
    cursor: pointer;
}


/********** screen :  480px **********/
@media screen and (max-width: 480px)
{
    .card-loc, .card-sub, .card-tag{
        display: none;
    }
}